@using Microsoft.AspNet.Identity

@model Dist_Lab2.ViewModels.HomeViewModels
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1><strong>Home</strong></h1>
        <p class="lead">Hello, <i>
            @User.Identity.GetUserName()
        </i></p>
    </center>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Last login</h2>
        @Html.DisplayFor(m => m.LastLogin)
    </div>
    <div class="col-md-6">
        <h2>Logins in the past month</h2>
        @Html.DisplayFor(m => m.LoginAmount)
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Unread messages</h2>
        @Html.DisplayFor(m => m.UnreadMessages)
    </div>
</div>