@model Dist_Lab2.ViewModels.HomeViewModels
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1><strong>Home</strong></h1>
        <p class="lead">Welcome back,
            <i>
                @Html.DisplayFor(model => model.LoggedInAs, new { @class = "control-label col-md-2" })!
            </i>
        </p>
    </center>
</div>

<div class="row">
    <center>
        <div class="col-md-6">
            <h3>Last login</h3>
            @Html.DisplayFor(model => model.LastLogin)
        </div>
        <div class="col-md-6">
            <h3>Logins in the past month</h3>
            @Html.DisplayFor(model => model.LoginAmount)
        </div>
    </center> 
</div>
<div class="row">
    <div class="col-md-12">
        <center>
            <h3>Unread messages</h3>
            @Html.DisplayFor(model => model.UnreadMessages)
        </center>
    </div>
</div>