@model Dist_Lab2.ViewModels.InboxViewModels
@{
    ViewBag.Title = "Inbox Page";
}

<h2>@ViewBag.Title.</h2>
<h4>Check your messages here</h4>

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Senders)
        </th>
        <th></th>
    </tr>

    @foreach (var sender in Model.Senders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => sender)
            </td>
            <td>
                <strong>
                    @Html.ActionLink("View Messages", "Messages", new {username = sender})
                </strong>
            </td>
        </tr>
    }
</table>

<hr/>

<div class="col-md-4">
    HEJ 1
</div>

<div class="col-md-4">
    HEJ 2
</div>

<div class="col-md-4">
    HEJ 3
</div>

<br />
