@model Dist_Lab2.ViewModels.InboxMessageBody
@{
    ViewBag.Title = "Inbox Page";
}

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Body, new { @class = "form-control" })
        </div>
    </div>

</div>